@import "compass";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

$break-very-small: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-medium-2: 1024px;
$break-large: 1200px;